<div class="row">
	<h3 class="text-center"><i>Hard and Soft Skills</i></h3>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="70"
		  [title]="'HTML'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="8"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="70"
		  [radius]="70"
		  [title]="'CSS'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="8"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="70"
		  [radius]="70"
		  [title]="'BOOTSTRAP'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="70"
		  [title]="'JAVASCRIPT'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="40"
		  [radius]="70"
		  [title]="'TYPESCRIPT'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="90"
		  [radius]="70"
		  [title]="'REACT'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="40"
		  [radius]="70"
		  [title]="'ANGULAR'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="65"
		  [radius]="70"
		  [title]="'NODE JS'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="65"
		  [radius]="70"
		  [title]="'MYSQL'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="70"
		  [radius]="70"
		  [title]="'GIT'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="40"
		  [radius]="70"
		  [title]="'REDUX'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="99"
		  [radius]="70"
		  [title]="'ENGLISH'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	<div class="text-center col-sm-4 col-md=4 col-lg-4">
		<circle-progress
		  [percent]="99"
		  [radius]="70"
		  [title]="'SOFT SKILLS'"
		  [showSubtitle]="false"
		  [showUnits]="false"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="5"
		  [outerStrokeColor]="'#F404B3'"
		  [innerStrokeColor]="'#04C8F4'"
		  [animation]="true"
		  [animationDuration]="600"
		></circle-progress>
	</div>
	
	
</div>


