.row {
	padding: 20px;
}

div {
	text-aling: center;
}

.nombre {
	font-weight: bold;
	margin-top: 10px;
}


p {
	text-align: justify;
}


.acerca{
	margin-top: 10px;
}

.titulo {
	font-weight: bold;
}