<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 frente">
			<img src="../../../assets/cafe.jpeg" alt="fotoPersonal" class="img-fluid">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 medio">
			<h3 class="nombre">Agostina Gatti</h3>
			<p class="titulo"><i>Full Stack Developer Junior</i></p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 pie">
			<span>
				<h3 class="acerca"><i>Acerca de mi</i></h3>
				<p><i>Apasionada por la programacion y el desarrollo web. Actualmente en búsqueda de mi primer oportunidad como desarrolladora.</i></p>
				<p><b>HTML | CSS | BOOTSTRAP | JAVASCRIPT | TYPESCRIPT | REACT | ANGULAR | REDUX | NODEJS | MYSQL | GIT | GITHUB</b></p>
			</span>
		</div>
	</div>
</div>