	<div class="row">
		<h3 class="titulo"><i>Experiencia Laboral</i></h3>
		<div>
			<ul>
				<li>
					<h6><i>Proyectos Desarrollo Web FullStack</i></h6>
					<p>2021-actualidad</p>
					<p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
				</li>
				<li>
					<h6><i>Profesora Idioma Inglés</i></h6>
					<p>2010-actualidad</p>
					<p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
				</li>
				<li>
					<h6><i>Traducciones Públicas Idioma Inglés-Español</i></h6>
					<p>2010-2019</p>
					<p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
				</li>
				<li>
					<h6><i>Traducciones Literarias y Científicas</i></h6>
					<p>2010-2019</p>
					<p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
				</li>
				<li>
					<h6><i>Traducciones Médicas -UBA Facultad de Medicina-</i></h6>
					<p>2011-2015</p>
					<p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
				</li>
				<li>
					<h6><i>Profesora de Inglés -Instituto Nottingham-</i></h6>
					<p>2009-2011</p>
					<p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
				</li>
				<li>
					<h6><i>Atención al Cliente -Blockbuster- </i></h6>
					<p>2006-2007</p>
					<p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
				</li>
				<li>
					<h6><i>Atención al Cliente -Bensimon- </i></h6>
					<p>2005-2006</p>
					<p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final.</p>
				</li>
			</ul>
		</div>
	</div>
