<div class="row">
		<h3 class="titulo"><i>Proyectos Realizados</i></h3>
		<div>
			<ul>
				<li>
					<h6><i>Portfolio Web</i></h6>
					<p>Portfolio realizado con Angular | Java</p>
					<a href="https://github.com/agosmay/Angular">Ver Proyecto</a>
				</li>
				<li>
					<h6><i>App Peliculas</i></h6>
					<p>Aplicacion de Peliculas realizada con React JS</p>
					<a href="https://agosmay.github.io/MoviesApp/">Ver Proyecto</a>
				</li>
				<li>
					 <h6><i>App Clima</i></h6>
					 <p>Aplicacion de Clima realizada con NodeJS | ReactJS</p>
					 <a href="https://agosmay.github.io/WeatherApp/">Ver Proyecto</a>
				</li>
				<li>
					<h6><i>ToDo App</i></h6>
					<p>App de Tareas realizada con React JS</p>
					<a href="https://agosmay.github.io/ToDoApp/">Ver Proyecto</a>
				</li>
				<li>
					<h6><i>App E-Commerce</i></h6>
					<p>Aplicacion de Ventas realizada con NodeJS | HBS | MYSQL</p>
				</li>
			</ul>
		</div>
	</div>